PORT=4000

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=travel_booking

JWT_ACCESS_SECRET=change_access_secret
JWT_REFRESH_SECRET=change_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=dpz6fwvxl
CLOUDINARY_API_KEY=435965777639969
CLOUDINARY_API_SECRET=gIGZDYMogt7_Rd1lHAWtLwslJRQ
CLOUDINARY_FOLDER=travel-booking

CLOUD_NAME=dpz6fwvxl
CLOUD_KEY=515124771518627
CLOUD_SECRET=6KUoO06d0rkxEPgfgLRZ8z2UZY8

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=tranchinht32901@gmail.com
MAIL_PASS=ismprchqrwvrvyri
MAIL_FROM=Travel Booking <tranchinht32901@gmail.com>


GEMINI_API_KEY=your_api_key_here